include Makefile CHANGES LICENSE AUTHORS
include rio/migrations/env.py
include rio/migrations/alembic.ini
include rio/migrations/README
include rio/migrations/script.py.mako
include rio/migrations/versions

graft tests
graft docs

global-exclude *.py[co]

prune docs/_build
prune docs/_themes
